.git
.gitignore
.DS_Store
.AppleDouble
.LSOverride
._*
Thumbs.db
ehthumbs.db
Desktop.ini
*~
.directory
.Trash-*
.env
.vagrant
Vagrantfile
writable/cache/*
writable/logs/*
writable/session/*
writable/uploads/*
writable/debugbar/*
user_guide_src/
tests/
phpunit
.idea/
*.iml
/nbproject/
/build/
/nbbuild/
/dist/
/nbdist/
/nbactions.xml
/nb-configuration.xml
/.nb-gradle/
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
.phpintel
/results/
/phpunit*.xml
README.md
*.md
Dockerfile.frontend
docker-compose.backup.yml
